.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
 background: #2E2E36;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
  width: 300px;
  min-height: 350px;
  border: 2px solid black;
  border-radius: 2%;
  background-color: whitesmoke;
}

input {
  width: 220px;
  height: 20px;
}

.input-ckeckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

